[Unit]
Description=Greengrass initialization
After=network.target greengrass-ggc-packages.mount greengrass-ggc-var.mount greengrass-ggc-deployment.mount greengrass-certs.mount
Requires=greengrass-ggc-packages.mount greengrass-ggc-var.mount greengrass-ggc-deployment.mount greengrass-certs.mount
# Restart=always
# RestartSec=5s

[Service]
ExecStart=/greengrass/ggc/core/greengrassd start
ExecStop=/greengrass/ggc/core/greengrassd stop

[Install]
WantedBy=multi-user.target