[Unit]
Description=Edgeos data mount. Copy original files to bind mount: %I
DefaultDependencies=no
Requires=mnt-data.mount
After=mnt-data.mount
Before=umount.target
Conflicts=umount.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/mkdir /mnt/data/root-overlay/%I
ExecStart=/bin/cp -p -R /%I/* /mnt/data/root-overlay/%I

[Install]
WantedBy=multi-user.target