[Unit]
Description=greengrass data directory bind mount
Requires=mnt-data.mount edgeos-data-mnt-init.service
After=mnt-data.mount edgeos-data-mnt-init.service

[Mount]
What=/mnt/data/root-overlay/greengrass/ggc/packages/1.3.0/ggc_root
Where=/greengrass/ggc/packages/1.3.0/ggc_root
Type=none
Options=bind

[Install]
WantedBy=edgeos-bind.target