[Unit]
Description=greengrass packages directory bind mount
Requires=mnt-data.mount edgeos-data-mnt-init.service copy-files-at-bind-mount-target@%p.service
After=mnt-data.mount edgeos-data-mnt-init.service
After=copy-files-at-bind-mount-target@%p.service

[Mount]
What=/mnt/data/root-overlay/greengrass/ggc/packages
Where=/greengrass/ggc/packages
Type=none
Options=bind

[Install]
WantedBy=edgeos-bind.target