[Unit]
Description=greengrass log directory bind mount
Requires=mnt-conf.mount edgeos-data-mnt-init.service
After=mnt-conf.mount edgeos-data-mnt-init.service

[Mount]
What=/mnt/data/root-overlay/greengrass/ggc/var/log
Where=/greengrass/ggc/var/log
Type=none
Options=bind

[Install]
WantedBy=edgeos-bind.target