[Unit]
Description=greengrass certs directory bind mount
Requires=mnt-conf.mount edgeos-conf-reset.service
After=mnt-conf.mount edgeos-conf-reset.service
Before=umount.target
Conflicts=umount.target

[Mount]
What=/mnt/conf/root-overlay/greengrass/certs
Where=/greengrass/certs
Type=none
Options=bind

[Install]
WantedBy=edgeos-bind.target