[Unit]
Description=greengrass tmp directory bind mount
Requires=mnt-data.mount edgeos-data-mnt-init.service
After=mnt-data.mount edgeos-data-mnt-init.service

[Mount]
What=/mnt/data/root-overlay/greengrass/ggc/packages/1.3.0/var/tmp
Where=/greengrass/ggc/packages/1.3.0/var/tmp
Type=none
Options=bind

[Install]
WantedBy=edgeos-bind.target