[Unit]
Description=greengrass lambda directory bind mount
Requires=mnt-data.mount edgeos-data-mnt-init.service
After=mnt-data.mount edgeos-data-mnt-init.service

[Mount]
What=/mnt/data/root-overlay/greengrass/ggc/deployment/lambda
Where=/greengrass/ggc/deployment/lambda
Type=none
Options=bind

[Install]
WantedBy=edgeos-bind.target